In [4]:
import pandas as pd
a=pd.Series([7,8,910])
print(a)

0      7
1      8
2    910
dtype: int64

In [10]:
a.dtype

dtype('int64')

In [5]:
b=pd.Series(["apple","mango","guava"])
print(b)

0    apple
1    mango
2    guava
dtype: object

In [9]:
b.dtype

dtype('O')

In [34]:
a=pd.Series([10,20,30],index=[6,7,8])
print(a)

6    10
7    20
8    30
dtype: int64

In [36]:
import numpy as np
import pandas as pd
arr=np.array([1,2,3,4])
s1=pd.Series(arr)
print(s1)

0    1
1    2
2    3
3    4
dtype: int32

In [37]:
dict={"tharun":1,"sunil":2,"surya":3}
s1=pd.Series(dict)
print(s1)

tharun    1
sunil     2
surya     3
dtype: int64

In [39]:
s=pd.Series
s

pandas.core.series.Series

In [44]:
s1.iloc[1]

2

In [45]:
s1.loc["surya"]

3

In [46]:
s1.loc[["sunil","surya"]]

sunil    2
surya    3
dtype: int64

In [47]:
series=pd.Series(np.arange(10,20,1))
print(series)

0    10
1    11
2    12
3    13
4    14
5    15
6    16
7    17
8    18
9    19
dtype: int32

In [48]:
series.head(2)

0    10
1    11
dtype: int32

In [49]:
series.head()

0    10
1    11
2    12
3    13
4    14
dtype: int32

In [50]:
series.tail(2)

8    18
9    19
dtype: int32

In [51]:
series.tail()

5    15
6    16
7    17
8    18
9    19
dtype: int32

In [54]:
series.count()

10

In [62]:
s=pd.Series([10,20,30,40,50],index=[1,2,3,4,5])
print(s)

1    10
2    20
3    30
4    40
5    50
dtype: int64

In [63]:
s.index

Int64Index([1, 2, 3, 4, 5], dtype='int64')

In [73]:
print(s.array)
print(s.values)
print(s.dtype)
print(s.shape)
print(s.ndim)
print(s.nbytes)
print(s.memory_usage())
print(s.size)
print(s.name)
print(s.empty)

<PandasArray>
[10, 20, 30, 40, 50]
Length: 5, dtype: int64
[10 20 30 40 50]
int64
(5,)
1
40
80
5
None
False

In [75]:
#mathematical operations on series
a=pd.Series([1,2,3,4])
b=pd.Series([5,6,7,8])
print(a,b)

0    1
1    2
2    3
3    4
dtype: int64 0    5
1    6
2    7
3    8
dtype: int64

In [79]:
print(a.add(b))
print(a.subtract(b))
print(a.multiply(b))
print(a.divide(b))
print(a.mod(b))
print(a.pow(b))

0     6
1     8
2    10
3    12
dtype: int64
0   -4
1   -4
2   -4
3   -4
dtype: int64
0     5
1    12
2    21
3    32
dtype: int64
0    0.200000
1    0.333333
2    0.428571
3    0.500000
dtype: float64
0    1
1    2
2    3
3    4
dtype: int64
0        1
1       64
2     2187
3    65536
dtype: int64

In [80]:
import pandas as pd
df=pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [87]:
arr1=np.array([10,20,30])
arr2=np.array([40,50,60])
arr3=np.array([70,80,90])
df=pd.DataFrame(a)
df

    0
0  10
1  20
2  30

In [88]:
df1=pd.DataFrame([arr1,arr3,arr2],columns=["a","b","c"])
df1

    a   b   c
0  10  20  30
1  70  80  90
2  40  50  60

In [89]:
list_dict=[{'abc':10,'def':20},{'abc':30,'def':40,'ghi':50}]#dataframe from dictionaies
df2=pd.DataFrame(list_dict)
df2

   abc  def   ghi
0   10   20   NaN
1   30   40  50.0

In [94]:
#dataframe from series
d={'name':['tharun','sunil','surya'],'roll no':[3,6,8],'english':[85,90,95],'it':[89,87,85]}
df=pd.DataFrame(d)
df

     name  roll no  english  it
0  tharun        3       85  89
1   sunil        6       90  87
2   surya        8       95  85

In [95]:
df.index=[3,4,5]
df

     name  roll no  english  it
3  tharun        3       85  89
4   sunil        6       90  87
5   surya        8       95  85

In [103]:
df[["it","english"]]

   it  english
3  89       85
4  87       90
5  85       95

In [107]:
df.columns

Index(['name', 'roll no', 'english', 'it'], dtype='object')

In [108]:
df.index

Int64Index([3, 4, 5], dtype='int64')